@using DVG.WIS.Core.Constants;
<footer class="app-footer">
    <div>
        Copyright © 2022
        <a target="_blank" href="@StaticVariable.BaseUrl">@StaticVariable.Domain</a>
        <span>. All rights reserved.</span>
    </div>
    <div class="ml-auto">
        <span>Support: ngocld.it@gmail.com</span>
    </div>
</footer>