@using DVG.WIS.PublicModel;
@model List<ProductFEListModel>

@if (Model != null && Model.Any())
{
    <ul class="dropdown-menu menu1">
        @foreach (var item in Model)
        {
            <li class="@(Request.RawUrl.ToString().Contains(item.Link) ? "active":"")">
                <a href="@item.Link" title="@item.Name">@item.Name</a>
            </li>
        }
    </ul>
}
