@using DVG.WIS.Core;
<div class="category-slide">
    <div class="container">
        <div class="category-box swiper-container">
            <div class="category-scroll swiper-wrapper">
                <div class="category-item swiper-slide">
                    <div class="ube-banner-effect-flash">
                        <div class="ube-banner-image">
                            <a href="/@ConstUrl.Product"><img src="~/Content/images/all.png" alt="" /></a>
                        </div>
                        <div class="cate-name">
                            <a href="/@ConstUrl.Product">Tất cả sản phẩm</a>
                        </div>
                    </div>
                </div>
                <div class="category-item swiper-slide">
                    <div class="ube-banner-effect-flash">
                        <div class="ube-banner-image">
                            <a href="/@ConstUrl.Product/@ConstUrl.ProductFace"><img src="~/Content/images/face.png" alt="" /></a>
                        </div>
                        <div class="cate-name">
                            <a href="/@ConstUrl.Product/@ConstUrl.ProductFace">Chăm sóc da mặt</a>
                        </div>
                    </div>
                </div>
                <div class="category-item swiper-slide">
                    <div class="ube-banner-effect-flash">
                        <div class="ube-banner-image">
                            <a href="/@ConstUrl.Product/@ConstUrl.ProductBody"><img src="~/Content/images/body.png" alt="" /></a>
                        </div>
                        <div class="cate-name">
                            <a href="/@ConstUrl.Product/@ConstUrl.ProductBody">Chăm sóc body</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="next-slide navigation"><i class="icon-right-open-big"></i></span>
            <span class="previous-slide navigation"><i class="icon-left-open-big"></i></span>
        </div>
    </div>
</div>
