<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="CacheType" value="0" />

	<add key="RedisIP" value="127.0.0.1" />
	<add key="RedisPort" value="6379" />
	<add key="RedisDB" value="5" />
	<add key="RedisSlotName" value="RedisWeb" />

	<add key="RedisDBForCachePage" value="6" />
	<add key="RedisSlotNameForCachePage" value="RedisWebForCachePage"/>

	<add key="RedisDBQueue" value="0" />
	<add key="PreCacheKey" value="web2ge" />

	<add key="MaxDayExpired" value="1" />
	<add key="LongCacheTime" value="5" />
	<add key="MediumCacheTime" value="5" />
	<add key="ShortCacheTime" value="5" />
	<add key="NoImage" value="/Content/Web/images/noimage.4.3.jpg" />
	<add key="NoImage43" value="/Content/Web/images/noimage.4.3.jpg" />
	<add key="NoImage169" value="/Content/Web/images/noimage.16.9.jpg" />
	<add key="TargetExternal" value="6" />
	<add key="AllowShowDateTime" value="false"/>

	<add key="RequireCaptcha" value="true" />
	<add key="DomainImage" value="http://img.ndngoc.local" />

	<add key="Domain" value="nanamisport.com" />
	<add key="BaseUrl" value="http://ndngoc.local/" />
	<add key="DefaultLanguage" value="vi"/>

	<add key="StaticsZipOptimize" value="false" />
	<!-- PackerEncoding { None = 0, Numeric = 10, Mid = 36, Normal = 62, HighAscii = 95 }; -->
	<add key="BundleConfigEncoding" value="95"/>
	<add key="DebugMode" value="true"/>
	<add key="AllowCachePage" value="false"/>
	<add key="DefaultDurationCache" value="300" />

	<add key="HomeTitle" value="Nanamisport.com meta title" />
	<add key="HomeDesc" value="Nanamisport.com meta desc" />

	<add key="ProductTitle" value="Nanamisport.com meta title" />
	<add key="ProductDesc" value="Nanamisport.com meta desc" />

	<add key="AboutUsTitle" value="About us meta title" />
	<add key="AboutUsDesc" value="About us meta desc" />

	<add key="ContactTitle" value="Contact meta title" />
	<add key="ContactDesc" value="Contact meta desc" />

	<add key="CoreTitle" value="Core values meta title" />
	<add key="CoreDesc" value="Core values meta desc" />

	<add key="SuccessStoryTitle" value="Success stories meta desc" />
	<add key="SuccessStoryDesc" value="Success stories meta desc" />

	<add key="BeautyKnowledgeTitle" value="Kiến thức làm đẹp" />
	<add key="BeautyKnowledgeDesc" value="BeautyKnowledgeDesc" />

	<add key="CompanyNewsTitle" value="Tin doanh nghiệp" />
	<add key="CompanyNewsDesc" value="CompanyNewsDesc" />

	<add key="CareerNewsTitle" value="Tin tuyển dụng" />
	<add key="CareerNewsDesc" value="Success stories meta desc" />

	<add key="CustomerStoryTitle" value="Câu chuyện khách hàng" />
	<add key="CustomerStoryDesc" value="Success stories meta desc" />

</appSettings>