<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--###################################-->
    <add key="CacheType" value="1" />
    <add key="RedisIP" value="127.0.0.1" />
    <add key="RedisPort" value="6379" />
    <add key="RedisDB" value="0" />
    <add key="RedisSlotName" value="2ge" />
    <add key="PreCacheKey" value="redis_nanamisport" />
    <add key="MaxDayExpired" value="3" />
    <add key="WeekCacheTime" value="10080" />
    <add key="LongCacheTime" value="180" />
    <add key="MediumCacheTime" value="60" />
    <add key="ShortCacheTime" value="30" />
    <add key="TargetExternal" value="6" />
    <add key="TargetOutside" value="4" />
    <!--File Manageer 3-->
    <add key="AES-Key" value="pWf+038P9FCiD79PgiunVTkkuoi4AvXZ4sCBFvZcKyY=" />
    <add key="AES-IV" value="YC3LpGFtNL6aFwbNG6lRswBEZqs+sDXg2hJ4192NpH4=" />
    <add key="Upload-Domain" value="http://cms.ndngoc.local/" />
    <add key="DomainAvatar" value="http://img.ndngoc.local/" />
    <add key="Upload-Handler" value="/Handlers/UploadHandler.ashx" />
    <add key="DomainImage" value="http://img.ndngoc.local/" />
    <add key="View-Domain" value="http://img.ndngoc.local/" />
    <add key="Upload-Project" value="TinXe" />
    <add key="Load-File-Api" value="/api.php" />
    <add key="FileServer.Download" value="http://img.ndngoc.local/" />
    <add key="FileServer.Upload" value="E:\NDNGOC\SHOPNGOCND\nanamisport-main\SourceCode\DVG.WIS.Image\photo\" />
    <add key="ImageRootPath" value="E:\NDNGOC\SHOPNGOCND\nanamisport-main\SourceCode\DVG.WIS.Image\photo\" />
    <!--File Manageer 3-->
    <add key="LoginUrl" value="/dang-nhap" />
    <add key="StaticsZipOptimize" value="false" />
    <!--Domain-->
    <add key="Domain" value="ndngoc.local" />
    <add key="BaseUrl" value="http://ndngoc.local/" />
    <add key="CmsUrl" value="http://cms.ndngoc.local/" />

    <add key="DomainMobile" value="ndngoc.local" />
    <add key="BaseMobileUrl" value="http://ndngoc.local/" />
	<add key="LogoAddImage" value="https://static.cintamobil.com/web/images/f_logo.png" />
    <!--Images for mail-->

    <!-- Begin SSO -->
    <add key="GodAdminAccount" value="admin" />
    <add key="UsingOTP" value="false" />
    <add key="GGQR" value="/file/GGQR/QR.jpg" />
    <!-- End SSO -->

    <add key="EmailImgLogo" value="" />
    <add key="EmailImgTop" value="" />
    <add key="EmailImgBottom" value="" />
    <!--news-->
    <add key="NoImage" value="/Content/images/no-image.svg" />
    <add key="CKEditorVersion" value="201806060921" />
    <add key="MinProductionYear" value="1970" />
    <add key="MaxNewsLandingRelation" value="10" />
    <add key="TopAutoCompleteLinkDetail" value="10" />

    <add key="TopBoxHomeHighlight" value="10" />
    <add key="TopBoxMostView" value="5" />
    <add key="TopBoxAssessmentHighlight" value="4" />
    <add key="TopBoxMostSearch" value="10" />
    <add key="TopBoxNewsFocus" value="5" />
    <!--Crop image-->
    <add key="CropSize230" value="/crop/230x195/" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="CropSizeCMS" value="/crop/150x150/" />
    <add key="ResizeSizeContentMobile" value="resize/480x-" />
    <!--News auto save-->
    <add key="NewsAutoSave" value="0" />
    <add key="NewsAutoSaveInterval" value="60000" />
  </appSettings>
  <connectionStrings>
    <clear />
	  
    <add name="MasterConnection" connectionString="Data Source=.\SQLEXPRESS;;Initial Catalog=Nanamisport_Live;Persist Security Info=True;User ID=sa;Password=1234$;MultipleActiveResultSets=True" />
    <add name="SlaveConnection" connectionString="Data Source=.\SQLEXPRESS;;Initial Catalog=Nanamisport_Live;Persist Security Info=True;User ID=sa;Password=1234$;MultipleActiveResultSets=True" />
    <add name="ExternalConnection" connectionString="Data Source=.\SQLEXPRESS;;Initial Catalog=Nanamisport_Live;Persist Security Info=True;User ID=sa;Password=1234$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CrawlerConnection" connectionString="Data Source=.\SQLEXPRESS;;Initial Catalog=Nanamisport_Live;Persist Security Info=True;User ID=sa;Password=1234$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web> 
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/dang-nhap" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
