@using DVG.WIS.Core;
@model int
<div class="header-cart">
    <a href="/@ConstUrl.Cart">
        <span id="cartNum" class="cart-number">@Model</span><i class="icon-bag"></i><span class="cart-text">Giỏ hàng</span>
    </a>
</div>
