@{
    var idName = ViewData["rId"] + "";
    idName = !string.IsNullOrEmpty(idName) ? idName : "elechecktop";
}
<div class="w--100 pull-left" id="@idName"></div>
<div class="w--100 pull-left">
    <div class="cintamobil-loading fb-loading hidden">
        <div class="item-hr"></div>
        <div class="fblwti-animated">
            <div class="fblwtia-mask fblwtia-sepline-margin fbleft"></div>

            <div class="fblwtia-mask fblwtia-sepline-title-0 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-title-1 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-title-2"></div>

            <div class="fblwtia-mask fblwtia-sepline-sapo-0 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-sapo-1 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-sapo-2"></div>

            <div class="fblwtia-mask fblwtia-sepline-more"></div>
        </div>
        <div class="item-hr"></div>
        <div class="fblwti-animated">
            <div class="fblwtia-mask fblwtia-sepline-margin fbleft"></div>

            <div class="fblwtia-mask fblwtia-sepline-title-0 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-title-1 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-title-2"></div>

            <div class="fblwtia-mask fblwtia-sepline-sapo-0 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-sapo-1 fbleft"></div>
            <div class="fblwtia-mask fblwtia-sepline-sapo-2"></div>

            <div class="fblwtia-mask fblwtia-sepline-more"></div>
        </div>
    </div>
</div>

<div class="text-center hidden">
    <a href="javascript:carList.loadmore()" rel="nofollow" class="btn bg_blue full_w">
        Xem Thêm
    </a>
</div>