<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- ############################## -->
    <add key="PathNewReplace" value="thumbs" />
    <add key="PolicyOfDimArray" value="370x270|550x490|90x90|435x315|290x210|620x324|475x475|480x285|375x275|125x95|200x200|575x427|275x200|375x235|775x465|90x60|100x100|105x105|150x150|270x270|345x215|370x230|470x470|240x240|240x150|240x280|247x172|250x250|250x190|260x163|223x140|250x360|275x190|280x280|300x300|300x250|310x200|320x198|336x250|359x277|360x360|390x240|455x305|480x300|600x600|600x400|800x800|1072x380|120x-|180x-|250x-|280x-|300x-|360x-|600x-|800x-|370x255|140x110|140x150|670x360|270x170|100x75|" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="2097151" />
    <globalization culture="vi-VN" uiCulture="vi-VN" />
    <pages enableViewState="false" validateRequest="false" />
    <compilation debug="false" />
    <caching>
      <sqlCacheDependency configSource="cache.config" />
    </caching>
    <httpModules>
      <!--<add name="PageCompressionModule" type="Miron.Web.MbCompression.PageCompressionModule"/>-->
    </httpModules>
    <customErrors mode="Off" />

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Sun, 15 Dec 2019 00:00:00 GMT" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="cache-control" value="pubic" />
      </customHeaders>
    </httpProtocol>
    <caching>
      <profiles>
        <add extension=".gif" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".png" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
        <add extension=".bmp" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="23:00:30" />
      </profiles>
    </caching>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
