/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFDFF;
}

.container {
    margin-right: auto;
    margin-left: auto;*/
    /* padding-left: 15px;
  padding-right: 15px; */
    /*max-width: 1170px;
}

input,
textarea,
button {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #231F20;
}

    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

ul, ol {
    list-style: none;
}

button {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

header {
    background: #fffdff;
    float: left;
    width: 100%;
}

.top-header {
    float: left;
    width: 100%;
    margin: 21px 0px;
}

.header-logo {
    float: left;
}

.header-search {
    float: right;
    width: 470px;
    position: relative;
    margin-right: 100px;
}

.header-search-box {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

    .header-search-box .input-search {
        float: left;
        width: 100%;
        background: #f5f5f5;
        border-radius: 10px;
        height: 40px;
        border: none;
        padding: 0px 20px;
    }

    .header-search-box .header-search-btn {
        position: absolute;
        right: 0px;
        background: none;
        border: none;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: block;
        line-height: 40px;
        text-align: center;
    }

.header-search-btn .icon-search {
    font-size: 20px;
}

.header-phone {
    float: right;
    margin-top: 33px;
    margin-right: 40px;
}

.header-phone-box {
    float: left;
    background: #58ba47;
    border-radius: 16px;
    height: 34px;
    width: 145px;
    position: relative;
    line-height: 34px;
    padding-left: 45px;
}

    .header-phone-box .icon-call {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 0px;
        border-radius: 50%;
        background: #58ba47;*/
        /*background-image: linear-gradient( to right, rgba(201, 149, 92, 1), rgba(185, 124, 58, 1) );*/
        /*color: white;
        text-align: center;
        top: -1px;
    }

    .header-phone-box .phone-text {
        color: white;
        font-weight: 600;
    }

.icon-calling {
    background: url("../images/call-calling.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 20%;
}

.header-cart {
    float: right;
    position: relative;
    margin-top: 32px;
}

    .header-cart a {
        display: block;
    }

    .header-cart i.icon-bag {
        color: black;
        width: 26px;
        height: 26px;
        float: left;
        background: url("../images/bag.svg");
    }

    .header-cart .cart-text {
        color: black;
        font-weight: 600;
        font-size: 14px;
        float: left;
        line-height: 32px;
        margin-left: 15px;
    }

    .header-cart .cart-number {
        position: absolute;
        width: auto;
        padding: 0px 5px;
        height: 18px;
        text-align: center;
        background: #fd1b1b;
        border-radius: 5px;
        color: white;
        top: -5px;
        left: 20px;
    }

.nav-menu {
    border: 1px solid #f2f2f2;
    height: 50px;
    float: left;
    width: 100%;
}

ul.menu {
    float: left;
    list-style: none;
    width: 100%;
}

    ul.menu > li {
        float: left;
        line-height: 50px;
        margin-right: 50px;
        position: relative;
        margin-right: 80px;
    }

        ul.menu > li:hover:after,
        ul.menu > li.active:after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            background: #58ba47;
            bottom: 0px;
        }

        ul.menu > li:hover a,
        ul.menu > li.active a {
            color: #58ba47;
        }

    ul.menu li a {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: #231f20;
        display: block;*/
        /* padding: 0px 15px; */
    /*}

    ul.menu li:last-child {
        margin-right: 0px;
    }

.sub-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 10px 30px rgb(43 40 73 / 0.15);
    top: 49px;
    z-index: 2;
}

    .sub-menu li {
        float: left;
        line-height: 50px;
        width: 100%;
        border-bottom: 1px solid #f0f1f4;
    }

        .sub-menu li:last-child {
            border-bottom: none;
        }

ul.menu li .sub-menu li a {
    padding: 0px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #878a9d;
    white-space: nowrap;
}

.menu li:hover .sub-menu {
    display: block;
}*/

/* footer */
/*footer {
    float: left;
    width: 100%;
    background: #231f20;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}*/

/*.ft-bg-overlay {
    background-image: url(../images/ft-bg-overlay.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}*/

/*.ft-item {
    float: left;
}

.ft-item-6 {
    width: 50%;
}

.ft-item-3 {
    width: 25%;
}

.ft-logo {
    margin-bottom: 25px;
    float: left;
    display: block;
    width: 100%;
}

.mail {
    padding-left: 70px;
}

.ft-address {
    font-size: 16px;
    color: #d7dbff;
    margin-bottom: 10px;
    font-style: italic;
}

.pull-left {
    float: left;
}

.w-100 {
    width: 100%;
}

.ft-item-heading {
    color: #fffdff;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 85px;
}

.ft-menu {
    float: left;
    width: 100%;
    padding-left: 85px;
}

    .ft-menu li {
        float: left;
        width: 100%;
        line-height: 30px;
    }

        .ft-menu li::before {
            content: "\e807";
            font-family: "fontello";
            color: #d7dbff;
            margin-right: 5px;
        }

        .ft-menu li a {
            color: #d7dbff;
            font-size: 16px;
        }

.ft-bottom {
    float: left;
    width: 100%;
    margin-top: 55px;
}

.ft-social {
    float: left;
    width: 50%;
}

.ft-social-menu li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

    .ft-social-menu li a {
        display: block;
        color: white;
    }

    .ft-social-menu li i {
        font-size: 24px;
        color: #58ba47;
    }

.copyright {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #d7dbff;
}*/
/* footer */

/*.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    background: #58ba47;
    font-size: 18px;
    display: none;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    text-align: center;
    z-index: 99;
    line-height: 36px;
}

    .go-top:hover {
        background: #b88146;
    }*/

/* slide banner */
/*.main {
    float: left;
    width: 100%;
}

.slide-banner {
    float: left;
    width: 100%;
}

    .slide-banner a {
        display: block;
    }

        .slide-banner a img {
            width: 100%;
        }

.navigation {
    cursor: pointer;
}*/
/* slide banner */
/*.menu-mobile {
    display: none;
}

.head-menu {
    display: none;
}



.bg-popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}

.bg-popup-loading {
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}
.loading {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

#popupContact .close-modal {
    position: absolute;
    top: -12px;
    right: -12px;
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}

#popupContact {
    width: 530px;
    position: fixed;
    top: 50%;
    background: white;
    z-index: 1000;
    left: 50%;
    border-radius: 12px;
    transform: translate(-50%, -50%);
}

    #popupContact .head-image img {
        width: 100%;
    }

    #popupContact .heading-tt {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #58ba47;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    #popupContact .main-form {
        float: left;
        width: 100%;
        padding: 20px 30px;
    }

        #popupContact .main-form .form-group {
            float: left;
            width: 100%;
            margin-bottom: 20px;
        }

    #popupContact .form-control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #8B8B8B;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #popupContact .txt-area {
        height: 100px;
    }

    #popupContact .text-center {
        text-align: center;
    }

    #popupContact .btn-send-popup {
        background: #58ba47;
        border-radius: 4px;
        line-height: 40px;
        width: 130px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        color: white;
        cursor: pointer;
    }
div#agencyRegister {
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index:1;
}
#agencyRegister .contact-popup{
    display:block;
}
#agencyRegister .close-modal {
    position: absolute;
    top: -12px;
    right: -12px;
    background: #e5cbcb;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}*/
/* Menu mobile */
/*@media screen and (max-width: 1024px) {
    :root {
        --width-container: calc(100vw - 40px);
    }

    .head-menu {
        display: block;
    }

    .container {
        width: var(--width-container);
    }

    .menu-desktop,
    .ft-bg-overlay {
        display: none;
    }

    header {
        height: 50px;
    }

    .menu-mobile {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 995;
        width: 100%;
        background: white;
        border-bottom: 1px solid #eef2f4;
    }

        .menu-mobile .btn-menu {
            float: left;
            min-width: 50px;
            height: 50px;
            text-align: center;
        }

            .menu-mobile .btn-menu .icon-menu {
                font-size: 25px;
                position: relative;
                top: 10px;
            }

        .menu-mobile .logo {
            float: left;
            width: calc(100vw - 100px);
            text-align: center;
        }

            .menu-mobile .logo img {
                height: 50px;
            }

        .menu-mobile .btn-search {
            width: 50px;
            height: 50px;
            float: left;
        }

            .menu-mobile .btn-search .icon-search, .menu-mobile .btn-search .icon-basket {
                font-size: 25px;
                position: relative;
                top: 10px;
                color: #231f20;
            }

    .go-top {
        bottom: 20px;
        right: 20px;
    }

    .head-menu {
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background: #fff;
        overflow-y: auto;
        z-index: 100;
        overflow: auto;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }

        .head-menu.open {
            left: 0px;
            display: block;
        }

    ul.menu-wap {
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    .menu-wap li {
        line-height: 40px;
        padding-left: 20px;
        position: relative;
        float: left;
        width: 100%;
    }

        .menu-wap li a {
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            color: #231f20;
            display: block;
        }

            .menu-wap li a span {
                position: absolute;
                right: 20px;
            }

        .menu-wap li:not(:last-child) {
            border-bottom: 1px solid #eceff1;
        }

    .menu-wap .sub-menu {
        display: none;
    }

    .menu-wap li.active > a {
        color: #b88146;
    }

    .menu-wap li.active .sub-menu {
        display: block;
        position: inherit;
        top: unset;
        box-shadow: unset;
        border: none;
    }
}

@media screen and (max-width:820px) {
    .ft-item-heading, .ft-menu {
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 40px 0px;
        margin-top: 40px;
    }

    .ft-address {
        padding-left: 0px;
        width: 100%;
    }
    #popupContact {
        width: calc(100% - 20px);
    }
        #popupContact .main-form {
            padding: 10px;
        }

    div#agencyRegister {
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 100%;
        z-index: 100;
    }
    #agencyRegister .close-modal {
        top: -15px;
        right: 5px;
    }
    #agencyRegister img{
        width:100%;
    }
}

@media screen and (max-width:640px) {
    .ft-item {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .ft-menu, .ft-item-heading {
        padding-left: 0;
    }

    .ft-item-heading {
        margin-bottom: 10px;
    }

    .ft-social {
        margin-bottom: 20px;
    }

    .ft-social, .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ft-social-menu li:last-child {
        margin-right: 0;
    }

    .ft-bottom {
        margin-top: 20px;
    }
}*/
/* Menu mobile */

/*.content-format p, .content-format h3 {
    margin-bottom: 10px;
}

.content-format h3 {
    font-size: 20px;
}

.error {
    color: red;
}*/




 