@media screen and (max-width:1024px) {
    :root {
        --width-three-item: calc((100vw - 100px) / 3);
    }

    .news-page .left-news {
        width: calc(60% - 20px)
    }

    .right-newspage {
        width: 40%;
        margin-left: 20px;
    }

    .news-right-item .image {
        height: 130px;
        min-height: auto;
    }

    .product-section-box .product-item {
        width: var(--width-three-item);
    }
    .news-page {
        padding-top: 20px;
    }

    .product-detail .box-image {
        width: 100%;
    }
        .product-detail .box-image .main-photo {
            width: calc(100vw - 160px);
            text-align:center;
        }
    .product-detail .label-quantity, .product-detail .cart-quantity {
        width: auto;
    }
    .product-detail .cart-qty {
        max-width: 135px;
    }
    .product-detail .box-product-quantity .cart-qty {
        margin-left: 10px;
    }
    .product-detail .box-product-info {
        width: 100%;
        margin-top: 20px;
    }
    .content-format iframe {
        max-width:100%;
    }
    .product-detail .cart-qty-minus, .product-detail .cart-qty-plus {
        font-size: 20px;
        min-width: 40px;
        display: block;
        text-align: center;
        line-height: 33px;
        border: 1px solid #ebebeb;
    }

    .left-cart {
        width: 100%;
        margin-right: 0px;
    }
    .bank {
        float: left;
        width: 100%;
    }
    .cart .label-product, .cart .cart-product {
        width: 50%;
    }
    .cart-header, .cart-body {
        width: 100%;
    }
    .right-cart{
        width:100%;
    }
}

@media screen and (max-width:820px) {
    .news-mid-item .image {
        width: 130px;
    }

    .news-mid-item .heading {
        margin-bottom: 10px;
    }

    .news-mid-item .content {
        width: calc(100% - 155px);
    }

    .news-mid-item .desc {
        -webkit-line-clamp: 3 !important;
    }

    .product-right .product-item .image, .news-right-item .image {
        width: 105px;
        height: 105px;
    }

    .product-right .product-item .content, .news-right-item .content {
        width: calc(100% - 125px);
        padding: 5px 0;
    }

    .news-right-item .heading, .product-right .product-item .heading {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .promotion-product .title {
        font-size: 20px;
    }

    .news-mid-item .desc {
        text-align: left;
    }

    .news-mid, .product-right {
        padding: 15px;
    }

    .promotion-product .old-price {
        margin-left: 0;
    }

    .product-section-box .product-item {
        min-width: auto;
        width: calc((100vw - 70px) / 2);
        margin-bottom: 30px;
    }

        .product-section-box .product-item:nth-child(2n) {
            margin-right: 0px;
        }

        .product-section-box .product-item:nth-child(3n) {
            margin-right: 30px;
        }

    .product-section .heading-box {
        font-size: 26px;
    }
    .news-page .left-news{
        width:100%;
    }
    .right-newspage {
        width: 100%;
        margin-left: 0px;
        margin-top: 24px;
    }
    .promotion-product .title {
        font-size: 26px;
    }
    .news-page .heading-box {
        margin-bottom: 0px;
        font-size: 26px;
    }
    .category-item{
        width:calc(100vw - 40px);
    }

}

@media screen and (max-width:768px) {
    .left-contact, .right-contact {
        width: 100%;
    }

    .product-section .heading-box {
        font-size: 24px;
    }
}

@media screen and (max-width:640px) {
    .news-page .left-news {
        width: 100%;
    }

    .right-newspage {
        width: 100%;
        margin-left: 0;
    }

    .news-topright {
        margin-top: 30px;
    }

    .product-section {
        padding-top: 40px;
    }

        .product-detail .box-image .main-photo {
            width: 100%;
            text-align: center;
        }
    .multiple-img-list {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }
        .multiple-img-list .list-thumb {
            flex-direction: row;
        }
        .multiple-img-list .list-thumb .col{
            margin-right:10px;
        }
    .news-box{
        padding-top:0px;
    }
  
    .cart .cart-product {
        width: 100%;
        float: left;
        display: inline-block;
    }
    .cart-header{
        font-size:14px;
    }
    .cart-image, .cart-total, .label-total {
        display: none;
    }
    .label-remove, .cart-remove{
        width:10%;
    }
    .cart .label-product, .cart .cart-product{
        width:40%;
    }
    .label-price, .cart-price {
        width: 20%;
    }
    .label-quantity, .cart-quantity {
        width: 30%;
    }
    .cart span.money {
        color: #C9955C;
        font-size: 12px;
        font-weight: 600;
    }
    .cart-product .cart-meta{
        padding-left:0px;
    }
}

@media screen and (max-width:415px) {
    .product-section-box .product-item {
        width: 100%;
        margin-right: 0px;
    }

        .product-section-box .product-item:nth-child(3n) {
            margin-right: 0px;
        }
}
