.nav li a {
    padding: 10px;
    line-height: 20px;
    display: inline-block;
}

.nav > li > a {
    text-transform: uppercase;
    color: #107cde;
}

.nav > li > a {
    font-weight: 700;
}

.nav > li > a {
    font-family: "Roboto", sans-serif;
}
.toggle{
    position:relative;
    left:19%;
}
.nav .sub-menu {
    background: unset !important;
   /* background-color: #adb5bd;*/
}
.sub-menu .menu-item-group {
    border-top: 1px dashed #dee2e6;
}
.menu-item .menu-link {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}