
<div class="video-homepage">
    <div class="container">
        <div class="video-box">
            <div class="video-item">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6g0OpYJRZfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-content">
                <span class="tag-video">Video nổi bật</span>
                <h3 class="heading">
                    <a href="#">Bộ sưu tập mới của Berry More</a>
                </h3>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit,
                    quam suscipit purus donec amet. Egestas volutpat facilisi eu
                    libero. Nunc, ipsum ornare mauris sit quam quis enim. Varius
                    tellus in suspendisse placerat.
                </p>
                <a href="https://www.youtube.com/watch?v=6g0OpYJRZfY" target="_blank" class="btn-view-more">Xem thêm</a>
            </div>
        </div>
    </div>
</div>