@using DVG.WIS.Core.Enums;
@model DVG.WIS.Entities.Page
<div id="content" class="blog-wrapper blog-single page-wrapper">
    <div class="row align-center">
        <div class="large-9 col">

            <article class="post type-post status-publish format-standard has-post-thumbnail hentry">
                <div class="article-inner ">
                    <header class="entry-header">
                        <div class="entry-header-text entry-header-text-top text-left" style="padding-bottom: unset">
                            <h1 class="entry-title" style="text-align: center;">QUY TRÌNH THI CÔNG</h1>
                        </div>
                    </header>
                    @Html.Raw(Model.Description)
                </div>
            </article>
        </div>

        <div class="large-3 col">
            <div id="secondary" class="widget-area " role="complementary">

                @Html.Action("ArticleSidebar", "News", new { top = 5 })

                @Html.Action("VideoHightLight", "Video", new { top = 5 })
            </div>
        </div>


    </div><!-- .row -->

</div>