<div class="main">
    <div class="slide-banner">
        <a href="#"><img src="~/Content/images/slider.png" alt=""></a>
    </div>
    <div class="about-us">
        <div class="container">
            <p class="title">Về chúng tôi</p>
            <h3 class="heading-box">Giới thiệu doanh nghiệp</h3>
            <div class="about-box">
                <div class="about-us-item">
                    <h3 class="heading">
                        Về Berry More
                    </h3>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac ligula et mi semper viverra nec a tellus. Curabitur sed diam quis elit tempus venenatis sit amet a tellus. Sed id lectus laoreet, elementum metus at, sagittis sem. Sed ante velit, eleifend sit amet eros lacinia, lobortis vehicula dui. Vivamus fringilla mauris mauris. Aliquam lectus ligula, porta a rhoncus sit amet, consequat vel nibh. Sed in est venenatis, dictum dui a, consequat quam.</p>
                    <p class="desc">Etiam consectetur accumsan odio sit amet sagittis. Aliquam erat volutpat. Maecenas eros lacus, commodo id leo ut, ullamcorper varius elit. Proin auctor quam convallis, iaculis odio non, iaculis tortor. In felis tortor, tristique at magna nec, pharetra posuere leo. Praesent ut felis ante. Pellentesque rutrum sed turpis at ornare. Nulla tincidunt enim vitae purus rhoncus pellentesque ut ac ligula. Vivamus vel gravida nulla, quis aliquam est. Proin ultrices semper tortor, at suscipit nibh imperdiet vel. Etiam quis velit viverra nisl lobortis imperdiet quis mollis metus. Integer nec felis at ligula finibus consequat at ut magna. Duis fermentum dignissim metus in pellentesque. Integer viverra iaculis quam vel convallis. Donec et leo non velit pharetra placerat. Donec condimentum enim vitae felis vulputate, non rhoncus leo fringilla.</p>
                    <div class="quotes">
                        <i class="icon-quote" aria-hidden="true"></i>
                        <p>
                            I am quote block text, consectetur adipiscing elit. Ut ac ligula et mi semper viverra nec a tellus. Curabitur sed diam quis elit tempus venenatis sit amet a tellus. Sed id lectus laoreet, elementum metus at, sagittis sem. Sed ante velit, eleifend sit amet eros lacinia, lobortis vehicula dui. Vivamus fringilla mauris mauris. Aliquam lectus ligula porta a rhoncus sit amet consequat vel nibh.
                        </p>
                    </div>
                </div>
                <div class="about-us-item">
                    <h3 class="heading">
                        Lịch sử doanh nghiệp
                    </h3>
                    <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <p class="desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <p class="desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>

                </div>
                <div class="about-us-item">
                    <h3 class="heading">
                        Đội ngũ của chúng tôi
                    </h3>
                    <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <p class="desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="my-agency">
        <div class="container">
            <p class="title">Chính sách đại lý của chúng tôi</p>
            <h3 class="heading-box">Tìm hiểu thêm về chính sách đại lý của Berry More</h3>
            <div class="agency-btn-box"><a href="#" class="agency-btn">Tìm hiểu thêm</a></div>
        </div>
    </div>
    <div class="news-box">
        <div class="container">
            <p class="title">Blog</p>
            <h3 class="heading-box">Tin tức nổi bật</h3>
            <div class="news-list">
                <div class="news-item">
                    <div class="image"><a href=""><img src="~/Content/images/news.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="heading"><a href="">Top các sản phẩm makeup được các tín đồ làm đẹp chuyên dùng</a></h3>
                        <p class="desc">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            . Sit eligendi praesentium labore ad modi quo repellendus dolorem sapiente quibusdam? Voluptate commodi illum libero perferendis tenetur asperiores ab fuga recusandae aperiam.
                        </p>
                        <a class="view-more" href="view-more">Xem thêm<i class="icon-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="image"><a href=""><img src="~/Content/images/news.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="heading"><a href="">Top các sản phẩm makeup được các tín đồ làm đẹp chuyên dùng</a></h3>
                        <p class="desc">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            . Sit eligendi praesentium labore ad modi quo repellendus dolorem sapiente quibusdam? Voluptate commodi illum libero perferendis tenetur asperiores ab fuga recusandae aperiam.
                        </p>
                        <a class="view-more" href="view-more">Xem thêm<i class="icon-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="news-item">
                    <div class="image"><a href=""><img src="~/Content/images/news.png" alt=""></a></div>
                    <div class="content">
                        <h3 class="heading"><a href="">Top các sản phẩm makeup được các tín đồ làm đẹp chuyên dùng</a></h3>
                        <p class="desc">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            . Sit eligendi praesentium labore ad modi quo repellendus dolorem sapiente quibusdam? Voluptate commodi illum libero perferendis tenetur asperiores ab fuga recusandae aperiam.
                        </p>
                        <a class="view-more" href="view-more">Xem thêm<i class="icon-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>