@using DVG.WIS.Core;
@using DVG.WIS.PublicModel;

<footer id="footer" class="footer-wrapper">
    <section class="section dark">
        <div class="bg section-bg fill bg-fill bg-loaded bg-loaded">
        </div>
        <div class="section-content relative">
            <div class="row row-small sc-f-menus">
                <div class="col medium-2 small-4 large-2">
                    <div class="col-inner">
                        <p class="f-title">Về Nội Thất NT Home</p>
                        <div class="menu-ve-zito-container">
                            <ul id="menu-ve-zito" class="menu">
                                <li id="menu-item"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item">
                                    <a rel="nofollow" href="/@ConstUrl.AboutUs"
                                       class="menu-image-title-after">
                                        <span class="menu-image-title-after menu-image-title">
                                            Giới
                                            thiệu
                                        </span>
                                    </a>
                                </li>
                                <li id="menu-item"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item">
                                    <a rel="nofollow" href="/tin-tuc" class="menu-image-title-after">
                                        <span class="menu-image-title-after menu-image-title">Tin tức</span>
                                    </a>
                                </li>
                                <li id="menu-item"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item">
                                    <a rel="nofollow" href="/khuyen-mai"
                                       class="menu-image-title-after">
                                        <span class="menu-image-title-after menu-image-title">
                                            Khuyến
                                            mại
                                        </span>
                                    </a>
                                </li>
                               
                                <li id="menu-item"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item">
                                    <a rel="nofollow" href="/bao-gia-noi-that" class="menu-image-title-after">
                                        <span class="menu-image-title-after menu-image-title">Báo giá</span>
                                    </a>
                                </li>
                                <li id="menu-item"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item">
                                    <a rel="nofollow" href="/lien-he" class="menu-image-title-after">
                                        <span class="menu-image-title-after menu-image-title">Liên hệ</span>
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>



                <div class="col medium-5 small-6 large-5">
                    <div class="col-inner">
                        <p class="f-title">Sản phẩm</p>
                        <div class="menu-menu-product-category-container">
                            <ul id="menu-menu-product-category" class="menu">

                                @foreach (var item in MyMenuDictionary.ListMenuFooterDictionary)
                                {
                                    <li id="menu-item"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item">
                                        <a rel="nofollow"
                                           href="@item.Value"
                                           class="menu-image-title-after">
                                            <span class="menu-image-title-after menu-image-title">
                                                @item.Key
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col medium-3 small-12 large-3">
                    <div class="col-inner">
                        <p class="f-title">Page NỘI THẤT NT Home</p>
                        <p>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F100042405595771%2F&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="331" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

                        </p>

                    </div>
                </div>
            </div>
            <div class="is-divider divider clearfix"
                 style="margin-top:0em;margin-bottom:0em;max-width:100%;height:1px;background-color:rgba(255, 255, 255, 0.26);">
            </div>

            <div class="row sc-showrooms">
                <div class="col small-12 large-12">
                    <div class="col-inner text-center">
                        <p class="rooms-title">
                            Hệ thống Showroom Nội
                            Thất NT Home
                        </p>

                    </div>
                </div>
            </div>
            <div class="row row-address">
                <div class="col pb-half medium-6 small-12 large-6">
                    <div class="col-inner">
                        <div class="icon-box featured-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 25px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <?xml version="1.0" encoding="UTF-8" ?>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             viewBox="0 0 25 25">
                                            <g transform="translate(-377 -4240)">
                                                <path d="M5.411,15.759C.847,9.142,0,8.463,0,6.031a6.031,6.031,0,1,1,12.062,0c0,2.432-.847,3.111-5.411,9.727a.754.754,0,0,1-1.24,0Zm.62-7.214A2.513,2.513,0,1,0,3.518,6.031,2.513,2.513,0,0,0,6.031,8.544Z"
                                                      transform="translate(383 4244)" fill="#fff"></path>
                                                <g transform="translate(377 4240)" fill="none" stroke="#fff"
                                                   stroke-width="1">
                                                    <circle cx="12.5" cy="12.5" r="12.5" stroke="none"></circle>
                                                    <circle cx="12.5" cy="12.5" r="12" fill="none"></circle>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="icon-box-text last-reset">
                                <p>
                                    Showroom 1: Xưởng SX: Phúc Thọ -Hà Nội. <br />
                                    Hotline: 0975254324
                                </p>
                            </div>
                        </div>



                    </div>
                </div>


                <div class="col pb-half medium-6 small-12 large-6">
                    <div class="col-inner">
                        <div class="col-inner">
                            <div class="icon-box featured-box icon-box-left text-left">
                                <div class="icon-box-img" style="width: 20px">
                                    <div class="icon">
                                        <div class="icon-inner">
                                            <?xml version="1.0" encoding="UTF-8" ?>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19.159"
                                                 height="15.327" viewBox="0 0 19.159 15.327">
                                                <path d="M20.243,6H4.916A1.913,1.913,0,0,0,3.01,7.916L3,19.411a1.922,1.922,0,0,0,1.916,1.916H20.243a1.922,1.922,0,0,0,1.916-1.916V7.916A1.922,1.922,0,0,0,20.243,6Zm0,3.832-7.664,4.79L4.916,9.832V7.916l7.664,4.79,7.664-4.79Z"
                                                      transform="translate(-3 -6)" fill="#fff"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">
                                    <p><a href="mailto:noithatnthome86@gmail.com">noithatnthome86@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="is-divider divider clearfix"
                 style="margin-top:0em;margin-bottom:0em;max-width:100%;height:1px;background-color:rgba(255, 255, 255, 0.26);">
            </div>
            <div class="row sc-showrooms">
                <div class="col small-12 large-12">
                    <div class="col-inner text-center">
                        <p class="rooms-title">Copyright 2023 © Bản quyền thuộc về NỘI THẤT NT HOME</p>

                    </div>
                </div>


            </div>

        </div>


        @*<style scope="scope">
                        #section_584830554 {
                            padding-top: 1px;
                            padding-bottom: 1px;
                            background-color: rgb(37, 40, 57);
                        }


                        @media (min-width:550px) {

                            #section_584830554 {

                                padding-bottom: 30px;
                            }

                        }
            </style>*@
    </section>

    <div class="absolute-footer light medium-text-center small-text-center">
        <div class="container clearfix">
            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    Copyright 2023 © <strong>Noithatnthome.com</strong>
                </div>
            </div>
        </div>
    </div>
    <a href="#top"
       class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
       id="top-link"><i class="fas fa-angle-up"></i></a>

</footer>